*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
background-color:#F0F4F3;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
color: white;
font-family: 'Roboto Condensed', sans-serif;
}
.container{
    width: 75%;
    height: 85%;
    border-radius: 20px;
    display: flex;
    border-radius: 15px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.25);
}
.left-side{
background-color: #3BB397;
flex: 0 40%;
display: flex;
align-items: center;
justify-content: center;
border-radius: 15px 0 0 15px;
}
.left-side-content{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    height: 35%;
}
.left-side-a{
    text-decoration: none;
    letter-spacing: 1.2px;
    font-size: 14px;
    border: 1px solid white;
    padding: 10px 60px;
    border-radius: 30px;
    background-color: #3BB397;
    color: white;
}
.left-side-p{
    text-align: center;
    line-height: 1.5;
    font-size: 16px;
}
.left-side-title{
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 3px;
    
}
.right-side{
flex: 0 60%;
color: black;
display: flex;
justify-content: center;
align-items: center;
}
.right-side-content{
    width: 90%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
   
}
.right-side-content > h1{
    color: #3BB397;
    
    font-size: 33px;
}
.right-side-content > p{
    color: #a2a2a2;
}
.links{
    display: flex;
    justify-content: space-around;
    width: 200px;
}
.link{
    display: flex;
    text-decoration: none;
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 30px;
    justify-content: center;
    align-items: center;  
    
}
.link > i {
    color: black;
}
.form{
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
flex-basis: 50%;

}
.form-group{
position: relative;
}
.input{
background-color: #F4F8F7;
   width: 250px;
   font-size: 15px;
   font-weight: 300;
   padding: 12px 0;
   padding-left: 25px;
   border-color: #a2a2a2;
   border:none;
}
.input::placeholder{
    color: #a2a2a2;
    
}

.form-group > i{
   position: absolute;
    color: black;
    transform: translate(0,75%);
    color: #8b8a8a;
    padding-left: 5px;
}
.btn{
    width: 180px;
    padding: 13px 40px; 
    background-color: #3BB397;
    color: white;
    border-radius: 30px;
    border: none;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
}